{% extends "base.html" %} {% block start %}
<div class="container mt-5">
  <form method="POST">
    {% csrf_token %}
    <h3>Register</h3>
    <hr />
    {% if messages %}
    <div class="alert alert-primary" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        name="first_name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
    </div>
    <input
      type="text"
      class="form-control"
      aria-describedby="emailHelp"
      name="last_name"
    />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
        name="is_kgp"
        value="True"
      />
      <label class="form-check-label" for="gridCheck"> IIT KGP Student </label>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <p>Already have account?<a class="mx-1" href="/login/">Login</a></p>
</div>

{% endblock %}
